<template>
  <div class="widget-editor editor--weather">

    <div class="grid">
      <div class="xx">
        <div class="editor">
          <form class="" action="" method="">
              <label for="editor-title">Title <span class="is-vishidden">of widget</span></label>
              <input class="wide" type="text" v-model="widgetTitle" id="editor-title" placeholder="Title of widget" value="" aria-controls="widget-weather"/>
              <fieldset class="column columns--two">
                <legend>Temperature</legend>
                <label for="unit-celcius"><input type="radio" id="unit-celcius" v-model="units" aria-checked="true" value="metric" /> &deg;C</label>
                <label for="unit-fahrenheit"><input type="radio" id="unit-fahrenheit" v-model="units" value="imperial" /> &deg;F</label>
              </fieldset>

            <fieldset class="column columns--two">
              <legend>Wind</legend>
              <label for="unit-celcius"><input type="radio" id="wind-on" v-model="wind" value="windOn" aria-checked="true" /> On</label>
              <label for="wind-off"><input type="radio" id="wind-off" v-model="wind" value="windOff" /> Off</label>
          </fieldset>
          </form>
        </div>
      </div>
      <div class="xx ">
        <div id="widget-weather" class="widget" aria-live="polite">

          <h2 v-if="widgetTitle === ''" class="widget-title">Title of widget</h2>
          <h2 v-else class="widget-title">{{ widgetTitle }}</h2>

          <div class="grid">
            <div class="">
              <span class="icon icon--03n"><span class="is-vishidden">{{ location.weather[0].description }}</span></span>
            </div>
            <div class="">
              <h3 class="widget-subtitle">{{ location.name }}</h3>
              <p class="type-hero">{{ location.main.temp }}&deg;</p>
              <small v-show="wind === 'windOn'"><strong>Wind</strong> {{windDirection}} <!-- {{ location.wind.deg }}&deg; --> {{ location.wind.speed }}km/h</small>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'WeatherWidget',
  props: {
    msg: String
  },
  data(){
    return {
      widgetTitle: '',
      wind: "windOn",
      units: "metric",
      // set metric /imperial
      location: {"coord":{"lon":145.77,"lat":-16.92},"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03n"}],"base":"stations","main":{"temp":26,"pressure":1007,"humidity":74,"temp_min":24,"temp_max":29},"visibility":10000,"wind":{"speed":3.6,"deg":160},"clouds":{"all":40},"dt":1485790200,"sys":{"type":1,"id":8166,"message":0.2064,"country":"AU","sunrise":1485720272,"sunset":1485766550},"id":2172797,"name":"Cairns","cod":200},
    }
  },
  computed: {
    windDirection: function() {
      var degrees = this.location.wind.deg;
      var cardinalDirection
      // cardinal - 22 degrees to allow for range
      if ( degrees <= 23 ) {cardinalDirection  = "N"}
      if ( degrees > 23 && degrees <= 68 ) {cardinalDirection  = "NE"}
      if ( degrees > 68 && degrees <= 117 ) {cardinalDirection  = "E"}
      if ( degrees > 117 && degrees <= 158 ) {cardinalDirection  = "SE"}
      if ( degrees > 158 && degrees <= 203 ) {cardinalDirection  = "S"}
      if ( degrees > 203 && degrees <= 248 ) {cardinalDirection  = "SW"}
      if ( degrees > 248 && degrees <= 293 ) {cardinalDirection  = "W"}
      if ( degrees > 293 && degrees <= 338 ) {cardinalDirection  = "NW"}
      if ( degrees > 338 ) {cardinalDirection  = "N"}

      return cardinalDirection
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

@import 'src/components/variables.scss';


.widget-editor {
  background: $editor-color-bg;
  border: 1px solid $editor-color-border;
  border-radius: 0 0 6px 6px;
  padding: $grid-gutter * 2 $grid-gutter $grid-gutter * 2 - 16px;

}

.editor--weather {
}

.widget {
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(black,.25);
  padding: $grid-gutter;
}

// grid.scss
@media (min-width: $screen-sm) {
  .grid {
    display: flex;
  }
}

.xx {
  flex: 1;
  padding: 0 $grid-gutter;
  + .xx {
    // border-left: 1px solid $editor-color-border;
    position: relative;
    &:before {
      content: "";
      display: block;
      background-color: $editor-color-border;
      width: 1px;
      height: auto;
      position: absolute;
      left: -1px;
      top: 1em;
      bottom: 2em;
    }
  }
}

// forms

.is-vishidden {
  position: absolute!important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px,1px,1px,1px);
  white-space: nowrap;
}

.icon {
  display: block;
  width: 80px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.icon--03n {
 background-image: url(../assets/sunny.svg);
}
</style>
