<template>
  <div id="app">
    <WeatherWidget/>
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import WeatherWidget from './components/WeatherWidget.vue'

export default {
  name: 'app',
  components: {
    WeatherWidget
  }
}
</script>

<style lang="scss">
@import 'src/components/normalise.scss';
@import 'src/components/variables.scss';

#app {
  border-top: 4px solid $brand-blue;
  padding-top: 8px;

  color: #2c3e50;

  margin: 100px auto 0;
  width: 90%;
  @media (min-width: $screen-sm) {
    max-width: 740px;
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// basic typography
body {
  background-color: white;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #252525;
}

p {
  margin: 0 0 1.3rem 0;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 1.3rem;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.602em;
}

h2 {font-size: 1.424em;}

h3 {font-size: 1.266em;}

h4 {font-size: 1.125em;}

small, .font_small {font-size: 0.889em;}

.widget-title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 0;
}

.widget-subtitle {
  font-size: 1rem;
  margin: 0;
}

.type-hero {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}


form {
}

// forms
legend {
  // margin-bottom: .5rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

input {
  font-size: 1em;
  margin-bottom: 1rem;
  &[type = text] {
    width: 100%;
    border: 1px solid $editor-color-border;
    border-radius: 4px;
    display: block;
    padding: .5em 1em;
  }
  &[type = radio] {
    position: relative;
    top: -.1em;
    margin-right: .75em;
  }
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  // flex doesn't work on fieldsets, floating to keep semantics
  &.column {
    > label {
      float: left;
    }
    &.columns--two {
      > label {
        width: 49.999%;
      }
    }
    &.columns--three {
      > label {
        width: 33.3%;
      }
    }
  }
}

legend {}

label {
  font-weight: 400;
}


</style>
